@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    background-color: #FFFFFF;
}

.group:after {
  content: "";
  clear: both;
}

.main_header {
    position: fixed;
    width: 100%;
    height: 70px;
    color: #777777;
    background: #FFFFFF;
    z-index: 100; /* <-- a bit dirty, no?*/
    padding: 0px;
    margin: 0px;
    border: 10em;
}
.main_header ul {
    padding-top: 24px;
    margin: 0px;
    display: block;
}
.main_header ul.right{
    padding-right: 100px;
    float: right;  
}
.main_header ul.left{
    padding-left: 50px;
    float: left;
}

.main_header li{
    display: inline-block;
    list-style-type: none;
    padding-left: 15px;
    padding-right: 15px;
}

.main_header li a{
    text-decoration: none;
    font-size: 1em;
    color: #777777;
}

.circular {
    float: right;
    display: inline;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;

    z-index: 500000;
	background: url('../img/me.jpg') no-repeat;

    -webkit-animation: fade-in 5s;
    -moz-animation: fade-in 5s;
}

.center {
    margin: auto;
    width: 80%;
}

.content {
    display: block;
    position: relative;
    padding-top: 5em;
    width: auto;
    text-align: center;
}

.content .banner{
    height: auto;
    font-size: 4em;
    font-weight: 200;
    color: #777777;
    line-height: 130%;
    display: inline-block;
    padding-top: 2em;
}

@-webkit-keyframes typing {
    from { width: 0% }
    to { width: 100% }
}

@-moz-keyframes typing {
    from { width: 0% }
    to { width:100% }
}
@-webkit-keyframes typing2 {
    0%{width: 0%;}
    50%{width: 0%;}
    100%{ width: 100%; }
}

@-moz-keyframes typing2 {
    0%{width: 0%;}
    50%{width: 0%;}
    100%{ width: 100%; }
}

@-webkit-keyframes fade-in {
    0%{opacity: 0;}
    50%{opacity: 0.5;}
    100%{ opacity: 1; }
}

@-moz-keyframes fade-in {
    0%{opacity: 0;}
    50%{opacity: 0.5;}
    100%{ opacity: 1; }
}

@-webkit-keyframes fade-in2 {
    0%{opacity: 0;}
    50%{opacity: 0;}
    75%{opacity: 0.5;}
    100%{ opacity: 1; }
}

@-moz-keyframes fade-in2 {
    0%{opacity: 0;}
    50%{opacity: 0;}
    75%{opacity: 0.5;}
    100%{ opacity: 1; }
}

.banner .css_typing {
    width:auto;
    white-space:nowrap;
    overflow:hidden;

    -webkit-animation: typing 2s steps(50, end); /* # of steps = # of characters */

    -moz-animation: typing 2s steps(50, end); /* # of steps = # of characters */
}

.banner .css_typing2 {
    width:auto;
    white-space:nowrap;
    overflow:hidden;

    -webkit-animation: typing2 4s steps(50, end); /* # of steps = # of characters */
    -moz-animation: typing2 4s steps(50, end); /* # of steps = # of characters */
}

.banner .css-fade-in {
    -webkit-animation: fade-in 2s;
    -moz-animation: fade-in 2s;
}

.banner .css-fade-in2 {
    -webkit-animation: fade-in2 4s;
    -moz-animation: fade-in2 4s;
}

.center {
    width: 200px margin : auto margin-top : - 50 px
}

.container {
    width: auto;
    height: auto;
    max-width: 960px;
    margin: 50px auto;
    padding-bottom: 50px;
}

/*
p.hex-inner {
    text-align: center;
    color: white;
    font-weight: 200;
    font-size: 2em;
    z-index: 1;
}

.hexagon {
  position: relative;
  width: 190px;
  height: 100px;
  background-color: #64C7CC;
  margin: 35.90px 0;
  float:left;
  margin-left: 20px;
  display:inline;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 95px solid transparent;
  border-right: 95px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 54.90px solid #64C7CC;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 54.90px solid #64C7CC;
}

.hexagon-even {
    position: relative;
    overflow: hidden;
    width: 190px;
    height: 100px;
    margin: 35.90px 0;
    float:left;
    margin-left: 123px;
    display:inline;
    background-color: #CE341C;
    border-top: solid #CE341C;
    border-bottom: solid #CE341C;
}

.hexagon-even:before,
.hexagon-even:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 95px solid transparent;
  border-right: 95px solid transparent;
}

.hexagon-even:before {
  bottom: 100%;
  border-bottom: 54.90px solid;
}

.hexagon-even:after {
  top: 100%;
  width: 0;
  border-top: 54.90px solid;
}


.hexagon-red {

}
*/

/*
.hex {
    width:200px;
    height:115px;
    background-color: #ccc;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto 230px;
    position: relative;
    float:left;
    margin:25px 5px;
    text-align:center;
    zoom:1;
}

.hex a {
    display:block;
    width: 100%;
    height:100%;
    text-indent:-9999em;
    position:absolute;
    top:0;
    left:0;
}
.hex .corner-1,
.hex .corner-2 {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: inherit;
    z-index:-2;
    overflow:hidden;
    backface-visibility: hidden;
}

.hex .corner-1 {
    z-index:-1;
    transform: rotate(60deg);
}

.hex .corner-2 {
    transform: rotate(-60deg);
}

.hex .corner-1:before,
.hex .corner-2:before {
    width:      230px;
    height:     230px;
    content:    '';
    position:   absolute;
    background: inherit;
    top:        0;
    left:       0;
    z-index:    1;
    background: inherit;
    background-repeat:no-repeat;
    backface-visibility: hidden;
}

.hex .corner-1:before {
    transform: rotate(-60deg) translate(-115px, 0px);
    transform-origin: 0 0;
}

.hex .corner-2:before {
    transform: rotate(60deg) translate(-57px, -11px);
    bottom:0;
}

/* Custom styles*/
/*
.hex .inner {
    color:#eee;
}

.hex h4 {
    margin:0;
}

.hex hr {
    border:0;
    border-top:1px solid #eee;
    width:60%;
    margin:15px auto;
}

.hex p {
    font-size:16px;
    width:80%;
    margin:0 auto;
}

.hex.hex-orange {
    background: #FF843B;
}

.hex.hex-blue {
    background: #64C7CC;
}

.hex.hex-red {
    background: #CE341C;
}

.hex.hex-green {
    background: #80B971;
}

.hexagon {
    float: left;
    margin-left: 3px;
    margin-bottom: -26px;
}
.hexagon .top {
    width: 0;
    border-bottom: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}
.hexagon .middle {
    width: 104px;
    height: 60px;
    background: #6C6;
}
.hexagon .bottom {
    width: 0;
    border-top: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}
.hexagon-row {
    clear: left;
}
.hexagon-row.even {
    margin-left: 53px;
}
*/


.hex {
    float: left;
    margin-left: 3px;
    margin-bottom: -26px;
}
.hex .top {
    width: 0;
    border-bottom: 45px solid;
    border-left: 78px solid transparent;
    border-right: 78px solid transparent;
}
.hex .middle {
    width: 156px;
    height: 90px;
}
.hex .bottom {
    width: 0;
    border-top: 45px solid;
    border-left: 78px solid transparent;
    border-right: 78px solid transparent;
}

.hex-row {
    clear: left;
}
.hex-row.even {
    margin-left: 53px;
}

.hex h4 {
    margin:0;
    font-size: 14px;
    text-align: center;
}

.hex hr {
    border:0;
    border-top:1px solid #eee;
    width:60%;
    margin:10px auto;
}

.hex p {
    font-size:12px;
    width:80%;
    margin:0 auto;
}

.hex .border-blue {
    border-bottom-color: #64C7CC;
    border-top-color: #64C7CC;
}
.hex .background-blue {
    background: #64C7CC;
}

.hex .border-orange {
    border-bottom-color: #FF843B;
    border-top-color: #FF843B;
}
.hex .background-orange {
    background: #FF843B;
}

.hex .border-red {
    border-bottom-color: #CE341C;
    border-top-color: #CE341C;
}
.hex .background-red {
    background: #CE341C;
}

.hex .border-green {
    border-bottom-color: #80B971;
    border-top-color: #80B971;
}
.hex .background-green {
    background: #80B971;
}
